# The following lines are desirable for IPv4 capable hosts
127.0.0.1       localhost arch-beast.beastnet arch-beast
# The following lines are desirable for IPv6 capable hosts
::1             localhost ip6-localhost ip6-loopback
